<div class="card-container">
  <div class="card" [ngClass]="item.count < 4 ? 'highlight-card' : ''">
    <img [src]="item.imageUrl" alt="{{ item.label }}" />
    <h2 app-highlight>{{ item.label }}</h2>
    <p>{{ item.description }}</p>
    <p>Price: {{ item.price }}</p>
    <p [ngStyle]="countFocus">
      Count: {{ item.count }}
      <span *ngIf="item.count < 4" class="tag"> Low Quanity </span>
    </p>

    <button
      [ngClass]="btnClasses"
      [disabled]="item.count < 4"
      class="button"
      (click)="buyItem(item)"
    >
      Buy
    </button>
  </div>
</div>
