.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 20px;
  background-color: beige;
}

.highlight-card {
  font-weight: 400;
  color: var(--green);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.btnDisable {
  background-color: var(--light-grey);
  border: tomato;
  color: aliceblue;
  margin-top: 5px;
  border-radius: 10px;
  height: 30px;
}

.btnEnable {
  background-color: var(--green);
  color: white;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
  height: 30px;
}
