<!-- 
<app-nav-bar></app-nav-bar>
 -->

<div class="container">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main" [ngSwitch]="viewType">
    <div *ngSwitchCase="'grid'" class="grid">
      <app-item-card
        *ngFor="let item of itemList"
        [item]="item"
        (addToCart)="addToCart($event)"
      ></app-item-card>
    </div>
    <div *ngSwitchCase="'list'">
      <div *ngFor="let item of itemList">
        <span>{{ item.label }}</span>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
