.container {
  margin: 0px;
  height: 100%;
  background-color: var(--white);
}

.header {
}

.footer {
  background-color: var(--dark-blue);
}

.main {
  margin-inline: 50px;
  border: var(--light-gray) solid;
  border-width: 1px 0px 1px 0px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
