ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark-blue);
}

li {
  float: left;
}

li .nav-btn {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 25px;
  height: 100%;
  text-decoration: none;
}

li .nav-btn:hover {
  background-color: var(--green);
  cursor: pointer;
}
